html{
	height:100%;
}
body {
	background-color:#FBDE44;
	color:#28334A;
	font-family:"arial";
	font-size:100%;
	letter-spacing: 1.5px;
	line-height: 1.4;
	min-height:100%	;
	background-size: 100%;
	margin-top:0px;
	margin-right: 0px;
	margin-left:0px;
	margin-bottom:0px;
}
h1 {
	font-size:300%;
	font-family:"arial black";
	line-height:0px;
}
p {
	font-size:1.1em;
	width:60%;
}
nav ul {
	list-style-type: none;
	margin:0;
	padding: 0;
	overflow: hidden;
	background-color: #28334A;
	position: fixed;
	top: 0;
	width: 100%;
	z-index:1;
}
nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: #FBDE44;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover:not(.active) {
  background-color: #FBDE44;
  color:#28334A;
  text-decoration: none;
}
section {
	width:100%;
	height:100vh;
	overflow:hidden;
}
footer {
	background-color: #28334A;
	height:28vh;
	z-index:1;
	color:#FBDE44;
	width:100%;	
	margin-top:12%;
}
footer p {
	position:relative;
	top:10%;
	width:100%;
	text-align:center;
	font-family:"arial";
	margin-top:0px;
	margin-right: 0px;
	margin-left:0px;
	margin-bottom:0px;
}
.irfan-btn {
	border-radius:10px;
	background-color:#28334A;
	color:#FBDE44;
	border:solid;
}
.irfan-btn:hover {
	border-radius:10px;
	background-color:#FBDE44;
	color:#28334A;
	border:solid;
}
.schedule-table {
	font-size: 150%;
}
.active {
  background-color: #000 ;
}
.title {
	position:relative;
	left:20%;
	top:20%;
	width:42%;
	
}
.content {
	position:relative;
	top:28%;
	left:40%;
	width:52%;
}
.icon {
	width:10%;
	height:10%;
	vertical-align:sub;
}
.photo {
	width:30%;
	height:20%;
	position:relative;
	top:-48.6%;
}
.logo {
	width:5%;
	height:5%;
	vertical-align:sub;
	border-radius:100px;
}
.blog-div {
	position:relative;
	top:50%;
	left:25%;
	width:50%;
	height:25%;
	max-height:50%;
	overflow:hidden;
}
.blog-img {
	position:relative;
	width:100%;
	height:250px;
	border-radius:10px;
}
.blog-h1 {
	position:relative;
	left:5%;
	font-family:"Arial black";
	overflow:hidden;
	width:100%;
	max-width:100%;
	height:20%;
	max-height:20%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.blog-p {
	position:relative;
	overflow:hidden;
	width:100%;
	max-width:100%;
	height:50%;
	max-height:50%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.content-p {
	width:100%;
	max-width:100%;
}
.one-schedule-container {
	margin-left:5%;
	margin-right:5%;
	border:solid;
	border-radius:10px;
	margin-bottom:5%;
	margin-top:5%;
}
.empty-schedule-container {
	text-align:center;
	font-size:8vh;
	width:100%;
	height:100%;
	min-height:100%;
}
.txt-cntr {
	text-align:center;
}
.activity-h1 {
	margin-top:5%;
	margin-bottom:10%;
	color:#28334A;
}
.addEvents {
	color:#28334A;
	border:solid;
	border-color:#28334A;
	border-radius:10px;
	font-family:"arial";
	font-weight:bold;
	text-decoration: none;
}
.addEvents:hover {
	color:#FBDE44;
	border:solid;
	background-color:#28334A;
	border-color:#28334A;	
	border-radius:10px;
	text-decoration: none;
}
.one-schedule-text {
	margin-left:2%;
	margin-right:2%;
	margin-bottom:2%;
	margin-top:2%;
}
#myblog {
	position:relative;
	top:50px;
	text-align:center;
	margin-bottom:20px;
}
#section-home {
	background-image:url("/static/images/Background.png");
	background-size:100% 100%;
}
#IRFAN {
	font-size:18vw;
	font-family:"Arial Black";
	line-height:0;
	position:relative;
	left: 30%;
	top: 25%;
	}
#MAULANA {
	font-size:10.7vw;
	font-family:"Arial Black";
	line-height:0px;
	position:relative;
	left: 30%;
	top: 45%;
}
#NASUTION {
	font-size:10.1vw;
	font-family:"Arial Black";
	line-height:0px;
	position:relative;
	left: 30%;
	top: 63%;
}
#firstpage-h5 {
	font-size:1.89vw;
	font-family:"Arial Black";
	position:absolute;
	left:30.8%;
	top:81%;
	background-color:#28334A;
	color:#FBDE44;
}
#foto-profil {
	width:25%;
	border-radius:100%;
	position:relative;
	top:-15%;
	left:6.25%;
}
#skill-title {
	position:relative;
	top:8%;
	left:55%;
	width:37%;
	text-align: left;
}
#skill-content {
	position:relative;
	top:-23%;
	left:60%;
	width:32%;
}
#hobby-title {
	text-align: right;
	position:relative;
	top:1%;
	left:3%;
	width:42%;
}
#hobby-content {
	position:relative;
	text-align: right;
	top:3%;
	left:10%;
	width:30%;
}
#section-other {
	height:165vh;
	overflow:hidden;
}
#fact-title {
	position:relative;
	top:-16%;
	left:50%;
	width:42%;
	text-align: right;
}
#footer_icon_1 {
	position:relative;
	width:5%;
	left:42.5%;
}
#footer_icon_2 {
	position:relative;
	width:5%;
	left:42.5%;
}
#footer_icon_3 {
	position:relative;
	width:5%;
	left:42.5%;
}
#home_image {
	position:relative;
	float:right;
	right:10%;
	top:27%;
	height:43%;
	max-width:90%;
}
#calendar-div {
	width:10%;
	height:10%;
	position:relative;
}
#schedule-container {
	margin-top:5%;
	margin-bottom:10%;
}