<!DOCTYPE html>
{% load static %}
<html>
	<header>
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
		<nav>
			<ul>
				<li><a href="{% url 'homepage:' %}">Home</a></li>
				<li><a href="{% url 'homepage:schedule' %}">Schedule</a></li>
				<li style="float:right;"><a href="{% url 'homepage:blog' %}">Blog</a></li>
			</ul> 
		</nav>
	</header>
	<body>
		<h1 id="myblog">My Blog</h1><br><br><br><br><br>
		<div class="blog-div">
			<img class="blog-img" src="{% static 'images/onizuka.jpg' %}" alt="first blog">
			<h2 class="blog-h2">First Blog : why</h2>
			<p class="content-p">
Selamat PAGI!. kurang semangat, selamat pagi, siang, sore, atau malam teman-teman. Selamat datang di blog pertama saya, blog ini saya harap nantinya dapat bermanfaat bagi teman-teman, keluarga, pacar, gebetan, temennya pacar, pacarnya temen, rakyat indonesia, negara dll. Latar belakang dibuat nya blog ini karena belakangan ini saya sadar bahwa banyak kegiatan yang saya lakukan akan bermanfaat jika di sharing kepada orang lain. Misalnya kegiatan yang saya lakukan ketika liburan yaitu membuat sim (TANPA NEMBAK!), saya yakin jika saya menceritakan ke teman semua bisa lebih bermanfaat daripada hanya menjadi memori. Karena itu lahirlah blog ini yang nantinya akan menceritakan kegiatan yang saya mau ceritakan, ilmu/artikel/gambar yang saya tertarik untuk sebarkan entah karena lucu, bermanfaat maupun lainny. Sekian untuk tulisan kali ini. sampai bertemu lain waktu.<br>
<br>
Btw saya bukan wibu, itu background kebetulan aja belakangan ini lagi nonton anime itu. Nama anime nya "Great Teacher Onizuka". Anime ini bagus banget mengajarkan banyak nilai kehidupan seperti "jadi diri sendiri","sederhana","kebaikan" dll. tapi rating nya dewasa jadi untuk teman-teman yang masih ingusan tolong di lap dulu, ini anime untuk orang dewasa (sebenernya cuma ecchi sih).
			</p>
		</div>
		
	</body>
	<footer>
		<p>Reach me on : </p><br>
		
		<a href="https://steamcommunity.com/id/Newbie_Electric"><img id="footer_icon_1" src="{% static 'images/icon-steam.png' %}" alt="icon_steam"></a>
		<a href="https://www.instagram.com/irfanmaulananasution/"><img id="footer_icon_2" src="{% static 'images/icon-instagram.png' %}" alt="icon_instagram"></a>
		<a href="mailto:newbieelectric@gmail.com"><img id="footer_icon_3" src="{% static 'images/icon-email.png' %}" alt="icon_email"></a>
	</footer>
</html>