<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--Bootstrap CSS and JS-->
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
		<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<link rel="shortcut icon" type="image/png" href="{% static 'assets/favicon/favicon.png' %}">

		<!-- Font Awesome -->
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

		<!-- Moment.js -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js" integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>

		<!-- Tempus Dominus Bootstrap 4 -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>

		<link href="{% static 'css/style.css' %}" rel="stylesheet">
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="{% url 'homepage:' %}">Home</a></li>
				<li><a href="{% url 'homepage:schedule' %}">Schedule</a></li>
				<li style="float:right"><a href="{% url 'homepage:blog' %}">Blog</a></li>
			</ul> 
		</nav>
		<br><br><br>
		<div>
			<form method="POST" class="col-5 offset-4">
				{% csrf_token %}
				<div>
					<label>Event</label>
					{{ form.eventsName }}
				</div>
				
				<div>
					<label>Category</label>
					{{ form.category }}
				</div>
				
				<div>
					<label>Time</label>
					<div class="input-group date" id="datetimepicker1" data-target-input="nearest">
						{{ form.time }}
						<div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
							<div class="input-group-text"><i class="fa fa-calendar"></i></div>
						</div>
					</div>
						
					<script>
						$(function () {
							$("#datetimepicker1").datetimepicker({
							format: 'DD/MM/YYYY HH:mm',
							});
						});
					</script>
				</div>
				
				<div>
					<label>Location</label>
					{{ form.location }}
				</div>
				
				<div class="text-center">
					<input type="submit" class="btn irfan-btn" value="Add Activity"/>
				</div>
			</form>



		</div>
		
		<footer>
			<p>Reach me on : </p><br>
			
			<a href="https://steamcommunity.com/id/Newbie_Electric"><img id="footer_icon_1" src="{% static 'images/icon-steam.png' %}" alt="icon_steam"></a>
			<a href="https://www.instagram.com/irfanmaulananasution/"><img id="footer_icon_2" src="{% static 'images/icon-instagram.png' %}" alt="icon_instagram"></a>
			<a href="mailto:newbieelectric@gmail.com"><img id="footer_icon_3" src="{% static 'images/icon-email.png' %}" alt="icon_email"></a>
		</footer>
	</body>
</html>